body {
  background-image: url("../assets/terrible-background-tile.jpg");
  background-attachment: fixed;
  margin: 0;
  text-align: center;
}

.netscape-logo {
  position: absolute;
  top: 5px;
  right: 5px;
}

.site-wrapper {
  width: 420px;
  margin: auto;
}

.section {
  margin: 20px 0 20px 0;
}

h1,
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
  font-size: 1.3em;
}

.gif,
h1,
h2,
.contact p {
  display: inline-block;
  vertical-align: middle;
}

.torch {
  margin: 0 10px 0 10px;
}

.contact.gif {
  height: 30px;
}

.contact p {
  display: inline-block;
}

.beautiful-man {
  display: block;
  margin: auto;
  border: 5px ridge rgba(0, 0, 0, 0.4);
}

.line,
.links {
  display: block;
  margin: 0 auto 0 auto;
}

.marquee {
  position: relative;
  overflow: hidden;
  height: 50px;
}

.marquee p {
  font-weight: bold;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
  position: absolute;
  width: 100%;
  margin: 0;
  line-height: 50px;
}

ul {
  list-style: none;
  display: inline-block;
  text-align: left;
  padding: 0;
  width: 100%;
}

li {
  border: 5px ridge rgba(0, 0, 0, 0.4);
  line-height: 2;
}

footer {
  padding: 20px;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
