body {
  background-image: url("../assets/terrible-background-tile.jpg");
  background-attachment: fixed;
  margin: 0;
  text-align: center;
}

.netscape-logo {
  position: fixed;
  top: 5px;
  right: 5px;
}
.site-wrapper {
  max-width: 420px;
  margin: auto;
}
.section {
  margin: 20px 0 20px 0;
  overflow: hidden;
}
h1 {
  color: magenta;
}
h1,
h2 {
  font-family: "Comic Sans MS", "Marker Felt", sans-serif;
}
p {
  font-size: 1.3em;
}

a > span {
  display: none;
}
h1,
h2,
.gif,
.contact p {
  display: inline-block;
  vertical-align: middle;
}
.torch {
  margin: 0 10px 0 10px;
}
.contact.gif {
  height: 30px;
}

.beautiful-man {
  display: block;
  margin: auto;
  border: 5px ridge rgba(0, 0, 0, 0.4);
}
.warning-tape {
  display: block;
  margin: 0 auto 0 auto;
}
.marquee {
  position: relative;
  overflow: hidden;
  height: 50px;
}

.marquee p {
  position: absolute;
  font-weight: bold;
  width: 100%;
  margin: 0;
  line-height: 50px;
  transform: translateX(100%);
  animation: marquee 5s linear infinite;
  animation-timing-function: steps(40);
}
ul {
  list-style: none;
  display: inline-block;
  text-align: left;
  padding: 0;
  width: 100%;
}
li {
  border: 5px ridge rgba(0, 0, 0, 0.4);
  line-height: 2;
}
.counter,
.pig {
  display: block;
  margin: auto;
}
footer {
  padding: 20px;
}
// Marquee animation
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 300px) {
  body {
    background: white;
  }
  .netscape-logo,
  .gif,
  .site-wrapper > h2,
  .under-construction {
    display: none;
  }

  h1 {
    color: black;
  }
  h1,
  h2 {
    font-family: serif;
  }
  a > span {
    display: inline;
  }
  p {
    font-size: 1em;
  }
  li {
    border: 3px solid black;
  }
}
